@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    body{
      zoom: 80%;
      background: radial-gradient(rgb(228, 224, 224),rgb(45, 55, 65));

     
      
    }
  }
  .img_01{
    height: 150px;
    width: auto;
    position:absolute;
    left: 34%;
    top: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
  }
  .container01{
    width: 100%;
    height:200px;
    background-color:rgb(168, 175, 175);

  }
  .container02{ 
    
    background-color: rgb(8, 76, 133);
    width: 100%;
    height: 60px;
    position: relative;
    
    padding: 10px;
    margin: 0%;

  }
  .H2{
    text-align: center;
    font-size: 25px;
    font-style: normal;
    color: rgb(255, 255, 255);

  }
 
  .container03{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    position: relative;
    top: 50px;
    /*margin-top: 50px;*/
  }
  .Box{
    
    width: 300px;
    height: 150px;
    margin:0px;
    padding: 20px;
    justify-content: space-evenly;
    color: rgb(240, 240, 241);
    line-height: 35px;
    font-size: 20px;
    font-family:normal;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-top: 150px;
   background-image: url(B.jpg);
   background-size: cover;
   border: 2px solid rgb(3, 37, 68);
    

}
.images{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 80px;
    top: 400px;
    position: absolute;
    
   

}
.Contact{
    width: 95px;
    height:95px;
    border-radius: 90px;
    border: 4px solid rgb(248, 247, 247);
    
    
    
    
    
}
.Form{
    color: rgb(232, 235, 240);
    margin: 50px;
    width: 600px;
    height: 780px;
    padding:30px;
    padding-left:40px;
    padding-right:40px;
	font-size:14px;
	font-family:verdana;
    position: relative;
    top: 100px;
    left: 28%;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    font-family: normal;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url(B.jpg);
    background-size: cover;
    
}
.Form_TextBox{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    font-family: normal;
    line-height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    color: rgb(2, 28, 63);
    
}
.submit_button{
  background-color: #042852;
  border: none;
  color: rgb(247, 246, 246);
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  font-family: none;
  position: absolute;
  left: 37%;
  bottom: 30px;
  font-weight: bold;
  
}
.submit_button:hover{
    background-color: rgb(190, 192, 192);
    color: #042852;
}/*
.container_main{
    background: radial-gradient(rgb(228, 224, 224),rgb(45, 55, 65));
    

}