@charset "UTF-8";

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    body{
      zoom: 80%;
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #003366;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.logo-container img {
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

.logo-container h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

nav li a:hover {
    background-color: #0059b3;
    border-radius: 25px;
}
#left
{
  float: right;
}
#userimg
{
  border-radius: 50%;
}
.image-placeholder {
  background-image: url("img/download.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  border-radius: 20px;
  padding: 10px; 
}
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color:  #0059b3f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius:  15px; ;
    
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display:block;
}

.dropdown-content a:hover {
    background-color: #003366 ;
}


#footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Consolas;
}

#footer p {
    margin: 0;
}
#date
{
  float:right;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.slideshow-container .prev,
.slideshow-container .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 5px;
    cursor: pointer;
}

.slideshow-container .prev {
    left: 0;
}

.slideshow-container .next {
    right: 0;
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}